.container {
    border: 5px solid #ff8c00;
    background-color: tomato;
    display: flex;
     /* === justify content and axis === */
    /* flex-direction: column; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: start; */

}

/* === postining items === */

/* .logout {
    /* margin-left: auto; 
}*/



/* .search {
    margin-left: auto ;
} */




